body {
    margin: 0;
    font-family: "Nunito", Roboto, sans-serif;
    padding: 20px;
    height: calc(100vh - 40px);
    background: linear-gradient(to bottom, gray 1%, black 50%);
    overflow: auto;
}

h1, p, h4, h3, h5 {
    color: white;
    margin: 0;
}


/* HEADER */

.header {
    margin-bottom: 16px;
}


/* BANNER */

.banner {
    display: flex;
    gap: 32px;
}

h1 {
    font-size: 22px;
}

.pfp {
    display: flex;
    width: fit-content;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.banner-left {
    gap: 8px;
}

.user-text {
    font-size: 14px;
    font-weight: 600;
}

.subheader {
    color: lightgray;
}

.playlist-img {
    background-color: rgb(139, 139, 139);
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-time {
    margin: 8px 0;
    font-size: 13px;
}


/* UTILITY SECTION*/

.utility {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 18px;
}

.utility-left {
    display: flex;
    gap: 20px;
}

.utility-right {
    display: flex;
    gap: 14px;
    align-items: center;
}

.play-btn {
    height: 50px;
    width: 50px;
    background-color: rgb(11, 238, 90);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn img {
    filter: invert(1);
}

/* SONG SECTION */ 

.btn-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn {
    padding: 8px 16px;
    border-radius: 18px;
}

.btn span {
    font-weight: 600;
}

/* RECOMMENDED SONGS */

.rec-songs h2 {
    color: white;
    font-size: 20px;
}


/* SONG LIST*/

.song-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-item-left {
    display: flex;
    gap: 16px;
}

.song-title {
    font-size: 16px;
}

.song-artist {
    font-size: 13px;
    color: lightgray;
}


/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
}

.modal.open {
  display: block;
  opacity: 1;
  z-index: 9999;
}

.modal .modal-panel {
  background: #121212;
  color: white;
  padding: 10px 16px;
  margin-top: 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: calc(100vh - 30px);
  overflow: auto;
}

.close {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  display: grid;
  place-items: center;
}

.modal-header {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h4, .modal-search h4 {
  text-align: center;
}

.modal-search {
    display: flex;
    gap: 6px;
    padding: 10px;
    background-color: #47464B;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.suggested-songs {
    display: flex;
    flex-direction: column;
    background-color: #47464B;
    height: 75vh;
    padding: 12px 20px;
    border-radius: 6px;
    gap: 12px;
}

.song-btn {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47464B;
    border: 0;

}

.undo {
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    gap: 4px;
    display: none;
}

/* MODAL: SONG ADDED */
#modal .song-added {
  position: fixed;
  left: 50%;
  bottom: 50%;
  white-space: nowrap;
  transform: translateX(-50%) translateY(6px);
  background: rgba(18,18,18,0.95);
  color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0,0,0,.4);
  visibility: hidden;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 160ms ease, transform 160ms ease, visibility 0s linear 160ms;
}

#modal .song-added.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition: opacity 160ms ease, transform 160ms ease, visibility 0s;
}

.song-added {
    display: flex;
    gap: 16px;
}


/* NAVIGATION BAR */

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 20px 4px 20px;
    background: rgba(18,18,18,0.95);
}

.nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-icon p {
    font-size: 12px;
    font-weight: 600;
}